In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/sid/anaconda3/lib/python3.7/site-packages (1.0.3)
Requirement already satisfied: numpy>=1.13.3 in /home/sid/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /home/sid/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/sid/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/sid/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

  name  duration  marks
0    a       4.0     40
1    b       5.0     50
2    c       7.0     70
3    d       1.0     10
4    e       2.3     23

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data["name"]

0    a
1    b
2    c
3    d
4    e
Name: name, dtype: object

In [8]:
data

  name  duration  marks
0    a       4.0     40
1    b       5.0     50
2    c       7.0     70
3    d       1.0     10
4    e       2.3     23

In [9]:
data["duration"]

0    4.0
1    5.0
2    7.0
3    1.0
4    2.3
Name: duration, dtype: float64

In [11]:
data["marks"]

0    40
1    50
2    70
3    10
4    23
Name: marks, dtype: int64

In [12]:
sum(data["marks"])

193

In [14]:
data["duration"]==4

0     True
1    False
2    False
3    False
4    False
Name: duration, dtype: bool

In [17]:
type(data["duration"])

pandas.core.series.Series

In [19]:
data[data['duration']==4]

  name  duration  marks
0    a       4.0     40