In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("marks.csv")

In [4]:
data

   name  duration  marks
0  abhi         4     40
1  eric         6     60
2  jack         2     20
3  amit         6     60

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.iloc[1:2]

   name  duration  marks
1  eric         6     60

In [7]:
x = data["duration"]

In [8]:
x

0    4
1    6
2    2
3    6
Name: duration, dtype: int64

In [9]:
y = data["marks"]

In [10]:
y

0    40
1    60
2    20
3    60
Name: marks, dtype: int64

In [13]:
data.describe()

       duration      marks
count  4.000000   4.000000
mean   4.500000  45.000000
std    1.914854  19.148542
min    2.000000  20.000000
25%    3.500000  35.000000
50%    5.000000  50.000000
75%    6.000000  60.000000
max    6.000000  60.000000

In [16]:
X = x.values.reshape(4,1)

In [17]:
X

array([[4],
       [6],
       [2],
       [6]])

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
mind = LinearRegression()

In [20]:
#model trained
mind.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
data.corr()

          duration  marks
duration       1.0    1.0
marks          1.0    1.0

In [26]:
mind.coef_

array([10.])

In [31]:
#prediction from model
mind.predict([[9]])

array([90.])