In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('50_Startups.csv')

In [3]:
data.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Unnamed: 5
0,165349.20,136897.80,471784.10,New York,192261.83,NaN
1,162597.70,151377.59,443898.53,California,191792.06,NaN
2,153441.51,101145.55,407934.54,Florida,191050.39,NaN
3,144372.41,118671.85,383199.62,New York,182901.99,NaN
4,142107.34,91391.77,366168.42,Florida,166187.94,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
 5   Unnamed: 5       1 non-null      float64
dtypes: float64(5), object(1)
memory usage: 2.5+ KB

In [5]:
data.describe()

,R&D Spend,Administration,Marketing Spend,Profit,Unnamed: 5
count,50.000000,50.000000,50.000000,50.000000,1.0
mean,73721.615600,121344.639600,211025.097800,112012.639200,150000.0
std,45902.256482,28017.802755,122290.310726,40306.180338,NaN
min,0.000000,51283.140000,0.000000,14681.400000,150000.0
25%,39936.370000,103730.875000,129300.132500,90138.902500,150000.0
50%,73051.080000,122699.795000,212716.240000,107978.190000,150000.0
75%,101602.800000,144842.180000,299469.085000,139765.977500,150000.0
max,165349.200000,182645.560000,471784.100000,192261.830000,150000.0

In [6]:
y = data["Profit"]

In [7]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [8]:
X = data[["R&D Spend", "Administration","Marketing Spend","State"]]

In [9]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [16]:
X = pd.get_dummies(X, drop_first=True)
# Drop_first removes one of the dependent variable automatically so that all variables should be independent.
# duplicacy removed

In [17]:
X.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [18]:
X.corr()

,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York
R&D Spend,1.000000,0.241955,0.724248,0.105711,0.039068
Administration,0.241955,1.000000,-0.032154,0.010493,0.005145
Marketing Spend,0.724248,-0.032154,1.000000,0.205685,-0.033670
State_Florida,0.105711,0.010493,0.205685,1.000000,-0.492366
State_New York,0.039068,0.005145,-0.033670,-0.492366,1.000000

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
model = LinearRegression()

In [23]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
y_pred = model.predict(X_test)

In [25]:
y_test

13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
48     35673.41
26    105733.54
25    107404.34
32     97427.84
19    122776.86
Name: Profit, dtype: float64

In [26]:
y_pred

array([126362.87908255,  84608.45383634,  99677.49425147,  46357.46068582,
       128750.48288504,  50912.4174188 , 109741.35032702, 100643.24281647,
        97599.27574594, 113097.42524432])

In [27]:
residual = (y_pred - y_test)

In [28]:
residual

13    -7944.470917
39     3602.693836
30     -260.095749
45   -18568.619314
17     3380.112885
48    15239.007419
26     4007.810327
25    -6761.097184
32      171.435746
19    -9679.434756
Name: Profit, dtype: float64

In [29]:
residual_error = (residual/y_pred) * 100

In [30]:
residual_error

13    -6.287029
39     4.258078
30    -0.260937
45   -40.055299
17     2.625321
48    29.931809
26     3.652051
25    -6.717885
32     0.175653
19    -8.558493
Name: Profit, dtype: float64

In [31]:
accuracy = 100 - residual_error

In [32]:
accuracy

13    106.287029
39     95.741922
30    100.260937
45    140.055299
17     97.374679
48     70.068191
26     96.347949
25    106.717885
32     99.824347
19    108.558493
Name: Profit, dtype: float64

In [33]:
model.coef_

array([ 8.05630064e-01, -6.87878823e-02,  2.98554429e-02,  9.38793006e+02,
        6.98775997e+00])